.menubtn{
	position: fixed;
	right: 15px;
	top: 15px;
	font-size: 30px;
	background: #8824cd;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	outline: none;
	display: none;
	z-index: 1;
	transition: .3s all;
}
.menubtn:hover{
	cursor: pointer;
	background: #ac34ff;
	color: #fff;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	text-decoration:none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
body.over{
	overflow: hidden;
}
.wrapper{
	min-height: 2000px;
	min-width: 320px;
}

.wrapper.open{
	overflow: hidden;
}

header{
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header{
	height: 100px;
	border-bottom: 1px solid rgba(216, 216, 216,0.1);
}

.logo{
	color: #F0F0F0;
	font-weight: bold;
}
.header a{
	color: #F0F0F0;
	padding: 35px 0 ;
	transition: 0.1s all;
}

.header a:hover{

	color: #D8D8D8;
	border-bottom:3px solid #D8D8D8;
}

.inner-header{
	width: 80%;
	margin: 0 auto;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.inner-header ul li{
	display: inline;
	margin-left: 20px;
}

.inner-header nav{

}

.inner-getStarted{
	width: 80%;
	margin:0 auto;
}

.inner-getStarted h1{
	font-size: 50px;
	width: 550px;
	text-align: right;
	color:#F0F0F0;
	margin-top: 285px;
	margin-bottom: 30px;
}


.inner-getStarted a{
	width: 280px;
	height: 65px;
	display: block;
	background-color: #8824cd;
	border-radius: 65px;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	color: #F0F0F0;
	margin-left: 270px;
	margin-bottom: 10px;
	transition: 0.2s all;

}

.inner-getStarted a:hover{
	box-shadow:0 1px 4px  rgba(0,0,0,.7);
}

.inner-getStarted p{
	color: #F0F0F0;
	margin-left: 320px;
	padding-bottom: 250px;
}

.menu {
	display: none;
	position: relative;
	-webkit-appearance:none;
}

.menu::after{
	content: "\2630";
	color:white;
	font-size: 20px;
}






																		/*sec1*/

.sec1{
	background-color: #2e3b4e;
}

.inner-sec1{
	width:45%;
	min-height: 480px;
	margin:0 auto; 
	display: flex;
	flex-wrap: wrap;
	padding-top: 40px;
}

.inner-sec1 div{
	flex-basis: 45%;
	margin:10px;
}

.inner-sec1 h2{
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom:20px;
}

.inner-sec1 p{
	font-size: 14px;
}

														/*sec2*/
.sec2{
	background-image: url(../images/bg2.jpg);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat; 
}

.inner-sec2{
	width: 40%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.inner-sec2 h2{
	text-align: center;
	font-size: 35px;
	color:#F0F0F0;
	margin-bottom: 30px;
	margin-top: 154px;
}
.inner-sec2 p{
	width: 80%;
	text-align:center;
	color:#F0F0F0;
	margin-bottom: 30px;
}

.inner-sec2 a{
	width: 280px;
	height: 65px;
	display: block;
	background-color: #F0F0F0;
	border-radius: 65px;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	color: #d54c63;
	margin-bottom: 10px;
	transition: 0.3s all;
	margin-bottom: 159px;
}

.inner-sec2 a:hover{
	box-shadow:0 1px 4px 1px  rgba(0,0,0,.5);
	color: #ca4057;

}





								    																/*sec3*/

.inner-sec3{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sec3img img{
	max-width: 100%;
	margin-right: 100px;



}

.sec3img{
	text-align: left;
}

.sec3text{

	max-width: 50%;
	text-align: center;
	margin:0 15% 0 0;


}

.sec3text h3{
	line-height: 30px;
	color: #7d8792;
}

.sec3text p{
	line-height: 30px;
	font-size: 15px; 
	color: #4e5d6e;
}

																								/*sec4*/

.sec4{

	text-align: center;
	background-image: url(../images/bg4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: -5px;
}

.sec4 h2 {
	padding-top: 200px;
	font-size: 40px;
	color: #F0F0F0;
	padding-bottom: 20px;
}

.sec4 p{
	color: #a87bb7;
	font-size: 16px;
	max-width: 800px;
	margin: 0 auto;
}

p.small{
	color: #dbd6de;
	font-size: 15px;
	padding-bottom: 200px;
}

.sec4 a{
	width: 280px;
	height: 65px;
	display: block;
	background-color: #8824cd;
	border-radius: 65px;
	text-align: center;
	line-height: 65px;
	font-size: 20px;
	color: #F0F0F0;
	margin-bottom: 10px;
	transition: 0.2s all;
	margin: 20px auto;
}


.sec4 a:hover{
	box-shadow:0 1px 4px  rgba(0,0,0,.7);
}


																							/*sec5*/
.sec5{
	background-image: url(../images/bg5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
}

.inner-sec5{
	padding: 200px 50px 100px 50px;
}
.inner-sec5 a{
	display: block;
	border:2px solid white;
	width: 180px;
	height: 40px;
	border-radius: 50px;
	color: white;
	text-align: center;
	line-height:40px; 
	transition: 0.3s all;
}
.inner-sec5 a:hover{
	color:#ccc;
	border-color: #ccc;
}

.inner-sec5 > p{

	color: white;
	font-size: 30px;
	max-width: 500px;
}

.person p{
	margin: auto;
	color: white;
	
}

.person{
	display: flex;
	max-width: 310px;

}

																							/*sec6*/
.inner-sec6 img{
	text-align: right;
	max-width: 100%;
}

.inner-sec6{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.inner-sec6 .itext{
		flex-basis: 700px;
		margin-left: 10%;

}

.itext h2, .itext h3{
	margin-bottom: 20px;
	font-weight: normal;
}




																								/*sec7*/

.sec7{
	margin-top: -5px;
	height: 400px;
	background-color: #e7526b;
}

.inner-sec7{
	width: 30%;
	margin-left: 10%;
	padding-top:50px;
}

.inner-sec7 *{
	margin-bottom: 15px;
	color: white;
}
.inner-sec7 p{
	font-size: 14px;
}



																							/*footer	*/
.footer{
	height: 350px;
	background-color: #2e3b4e;
}

.footer p{
	width: 30%;
	margin-left: 10%;
	color: white;
	padding-top: 50px;
}